body {
    background-color: #2B3A67;
    color: #fff;
    text-align: center;
}

/*-------------------------Header----------------------- */ 
.navbar {
    padding: .5rem;
    border-bottom: .15rem #B3FFB3 solid;
    background-color: #A6D3A0;
}

.navbar-toggler {
    border: none;
}

.navbar-collapse {
    padding: .5rem;
}

.navbar-light .navbar-nav .nav-item .active {
    font-weight: 600;    
}

/*-------------------------Heading----------------------- */ 

h1 {
    padding-top: 6rem;
}

.js {
    color: #B3FFB3;
}

/*-------------------------Variables----------------------- */ 
:root {
    --base: #B3FFB3;
    --spacing: 10px;
    --blur: 10px;
}

img {
    width: 70%;
    height: auto;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.hl {
    color: var(--base);
}
