@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

body {
    background-color: #2B3A67;
    color: #fff;
    text-align: center;
}

/*-------------------------Header----------------------- */ 
.navbar {
    padding: .5rem;
    border-bottom: .15rem #B3FFB3 solid;
    background-color: #A6D3A0;
}

.navbar-toggler {
    border: none;
}

.navbar-collapse {
    padding: .5rem;
}

.navbar-light .navbar-nav .nav-item .active {
    font-weight: 600;    
}

/*-------------------------Heading----------------------- */ 

h1 {
    padding-top: 6rem;
}

/*-------------------------CSS Variables----------------------- */ 
:root {
    --base: #B3FFB3;
    --spacing: 10px;
    --blur: 10px;
}

.city_img {
    width: 70%;
    height: auto;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.hl {
    color: var(--base);
}

/*-------------------------Flex Panels----------------------- */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    padding-top: 3.5rem;
    font-family: "Amatic SC", sans-serif;
    text-shadow: .1rem .1rem #000;;
}

.panel {
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: #fff;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s
}

.panel1 { 
    background-image:url("../images/ice.jpeg"); 
}
.panel2 { 
    background-image:url("../images/light.jpeg"); 
}
.panel3 { 
    background-image:url("../images/hike.jpeg"); 
}
.panel4 { 
    background-image:url("../images/fox.jpeg"); 
}
.panel5 { background-image:url("../images/sea.jpeg");
}

.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel > *:first-child { 
    transform: translateY(-100%); 
}
.panel.open-active > *:first-child {
    transform: translateY(0); 
}

.panel > *:last-child { 
    transform: translateY(100%); 
}
.panel.open-active > *:last-child { 
    transform: translateY(0); 
}

.panel.open {
    flex: 5;
    font-size: 3rem;
}

/*-------------------------City Search----------------------- */ 
.search-city i {
    font-size: 1.3rem;
    padding: .3rem;
}

.search-city input {
    padding: .5rem;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: .5rem;
}

.search-city {
    margin: 0 4rem;
}

.suggestions {
    padding-left: 0;
}

.suggestions li {
    align-items: center;
    list-style: none;
    border-top: 1px solid #B3FFB3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 1rem;
    transition: background 0.2s;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

span.population {
    font-size: 15px;
}

/*-------------------------Canvas----------------------- */ 
canvas {
    background-color: #fff;
    width: 800px;
    height: 800px;
}

/*-------------------------Media Queries----------------------- */
@media only screen and (min-width: 576px) {
    .panels {
        padding-top: 4.5rem;
    }
    .panel {
        font-size: 3rem;
    }
    .panel.open {
        font-size: 5rem;
    }
    .search-city {
        margin: 0 8rem;
    }
}
